# Build results
bin/
pkg/

# Idea ignore
.idea/

#Bat
*.bat

# Log
*.log

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store

cover-all.out

# ignore vendor pakages
/vendor/
